<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>IA Insights</title>
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
     <nav>
          <ul>
          <li class="botao">
               <a href="sobreIA.html"><strong>O que é IA?</strong></a>
          </li>

          <li class="botao">
               <a href="evolucao.html"><strong>A Evolução das IAs ao longo dos anos</strong></a>
          </li>
          <li class="botao">
               <a href="curiosidade.html"><strong>Curiosidades</strong></a>
          </li>
          <li>
               <a href="./index.html"><button class="btn btn-success"><strong>Inscreva-se</strong></button></a>
          </li>
          </ul>
         
     </nav>

        <header>
          <div class="center">
              <img src="../static/img/ia mao.jpeg"> 
          </div>
        </header>

     <main>
          <section> 
            <br><br><br><br><br><br>
               <h2>Sobre Nós</h2>
               <p class="centraliza"> Olá a todos! Sejam bem-vindos ao nosso blog sobre
                   <i>Inteligência Artificial</i> (IA).Nesta emocionante jornada,
                   exploraremos o fascinante mundo da IA, suas aplicações 
                   revolucionárias e como ela está moldando o futuro em diversas áreas. 
                   Preparem-se para mergulhar no universo da IA! O objetivo deste blog 
                   é fornecer um espaço para discutir e compartilhar conhecimentos sobre IA.</p>
               <br><br><br><br><br><br><br><br>
               <br><br><br><br><br><br><br><br>
               <h3>Participe da comunidade</h3>
               <p> Convidamos você a participar ativamente da nossa comunidade de IA. Sinta-se
                   à vontade para compartilhar seus insights, fazer perguntas, interagir com 
                   outros leitores e expandir seus conhecimentos sobre IA.</p>
          </section>
     </main>
     <br><br><br><br><br><br><br><br><br>
     <br><br><br><br><br><br><br><br><br>
     <br><br><br><br><br><br><br><br><br>
     <div class="rod"><footer><br> Email: robertahlima2022@gmail.com <br>
     Email: kassandraferreira01@gmail.com <br>
     @KasandraeRoberta
     </footer></div>
</body>
</html>