*{
    margin: 0%;
    padding: 0%;
}

#titulo{
    font-family:sans-serif;
    color: #380863;
    margin-left: 7%;
}

#subtitulo{
    font-family:sans-serif;
    color: #380863;
    margin-left: 10%;

}

fieldset{
    border:0;
}

body{
    background-color: rgb(226, 218, 247);
    font-family: sans-serif;
    font-size: 1em;
    color: #503999;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, texarea,button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #503999;
    display: block;
}

fieldset .campo{
    float: left;
    margin: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px #0000.2;
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #e0e0f8;
}

.botao{
    font-size: 1em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #000020;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% -50%);
}

.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px #000020;
    text-shadow: none;
}