
.ia{
    border-radius: 30px;
}


h1{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
}

h6{
    text-align: left;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

p{
    width: 50%;
    height: 60%;
    left: 35%;
    color: white;
    font-size: 23px;
    font-family: sans-serif;   
}

.img1{
   display: flex;
   width: 600px;
}

.img2{
    display: flex;
    width: 400px;
    border:#ccbbff;
 }

.img3{
    display: flex;
    width: 400px;
 }