
.center{
     text-align: center;
}

h3{text-align: center;
    color: white;
    font-size: 45px;
    font-family: sans-serif;
}

p{
     position: absolute;
     width: 50%;
     height: 60%;
     left: 30%;
     color: white;
     font-size: 23px;
     font-family: sans-serif;
     
 }
