html, body {

    background-color: rgb(200, 135, 219)
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input.box{
    position: inherit;
    display: flex;
    width: 450px;
    background: none;
}