html, body {

    background-color: rgb(168, 53, 202)
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input.box{
    position: inherit;
    display: flex;
    width: 450px;
    background: none;
}
.box{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50% -50%);
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    color: white;
    text-align: center;
}